* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
  text-align: center;
}

header .main-menu {
  text-decoration: none;
}

header .main-menu li {
  display: inline-block;
}

header .main-menu li a {
  color: black;
}

