* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

header {
  background-color: white;
  text-align: center;
}

header .main-menu {
  text-decoration: none;
}

header .main-menu li {
  display: inline-block;
}

header .main-menu li a {
  color: black;
}

