header {
  background-color: white;
  text-align: center;
  .main-menu {
    text-decoration: none;
    .active {
      a {
        color: red;
      }
    }
    li {
      display: inline-block;
      padding: 10px;
      a {
        color: $link_main_color;
        font-weight: bold;
      }
    }
  }
}
