.box-main {
  main {
    background-image: url('../../img/sfondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
      margin-left: 20px;

    }
    background-color: white;
    .cards {
      display: flex;
      flex-wrap: wrap;
      .card {
        flex-basis: calc(100% - 40px);
        position: relative;
        margin: 20px;
        overflow: hidden;
        border-radius: 20px;
        transition-duration: 1s;
        @media only screen and (min-width: 480px) {
          flex-basis: calc(100% / 2 - 40px);
        }
        @media only screen and (min-width: 768px) {
          flex-basis: calc(100% / 3 - 40px);
        }
        &:hover {
          .card-link {
            opacity: 1;
          }
        }
        img {
          width: 100%;
          display: block;
          transition-duration: 1s;
          &:hover {
            transform: scale(1.15);
          }
        }
        .card-link {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          opacity: 0;
          transition-duration: 1s;
          h3 {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}
